.cartFigure {
  display: flex;
  align-items: center;
  font-size: 1.2rem;

  & h3 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__img-box {
    flex: 1;
  }

  &__details {
    flex: 4;

    &-price {
      color: var(--clr-green);
    }

    input {
      aspect-ratio: 1/1;
      width: 1.6rem;
    }

    &-priceBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      margin-left: 0.2em;
    }
  }
}
