@import "../../variables.scss";

.homePage {
  margin: 0.2rem;

  &__hero {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    padding: 30% 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/hero-img.jpg");
    background-size: cover;
    background-position: center;

    @media only screen and (min-width: $smallScreen) {
      padding: 15%;
      font-size: 1.6rem;
    }
    @media only screen and (min-width: $mediumScreen) {
      font-size: 2rem;
    }
  }

  &__hotProducts {
    text-align: center;

    &-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @media only screen and (min-width: $smallScreen) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media only screen and (min-width: $mediumScreen) {
        padding: 0 15rem;
      }
    }
  }

  &__subTitles {
    font-size: 1.6rem;
    @media only screen and (min-width: $smallScreen) {
      font-size: 2.4rem;
    }
  }

  &__services {
    text-align: center;
    margin-bottom: 2rem;
  }
}
