*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --clr-green: #48ac25;
}

ul,
p {
  padding: 0;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}

img {
  width: 100%;
}

.btn {
  color: #fff;
  background-color: #333;

  &-green {
    color: #fff;
    background-color: #48ac25;
  }
}
