@import "../../variables.scss";

.contactUs {
  text-align: center;
  background-color: #ebebeb;

  padding: 4rem 1rem;

  @media only screen and (min-width: $smallScreen) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5rem 0;
  }

  &__container {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem 0.5rem;
    border-radius: 8px;

    background-size: cover;

    @media only screen and (min-width: $smallScreen) {
      width: 65%;
      max-width: 600px;
      padding: 2rem 0.5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media only screen and (min-width: $smallScreen) {
      margin: 0 auto;
      width: 60%;
    }
  }

  input {
  }

  h1 {
    margin: 0;
    margin-bottom: 0.8rem;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.25em;
    font-size: 1.25rem;
    border: solid 1px var(--clr-green);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff9c;

    &::placeholder {
      color: #000;
    }
  }
}
