@import "../../variables.scss";

.footer {
  background-color: #000;
  color: #fff;

  font-size: 1.25rem;

  &__container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: $smallScreen) {
    grid-template-columns: repeat(2, minmax(300px, 350px));
  }

  &__header {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    margin: 0.6rem 0;
  }

  &__subHeader {
    display: block;
    font-size: 0.75em;
    color: #fff;
    margin: 0.6rem 0;
  }
}
