.header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 2rem;

  &-companyInfo {
    display: none;
  }

  &-search {
    width: 85%;
    border: 1px solid var(--clr-green);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 0.1em 1em;
  }

  &-logo {
    font-size: 2.5rem;
    padding: 0.2em;
    color: #000;

    &-icon {
      color: var(--clr-green);
      transform: translateX(-5px);
      transform: translateY(-8px);
    }
  }
}

.categories {
  position: relative;
  z-index: 5000;

  &-dropdown {
    font-size: 1.6rem;
    width: 100%;
    background: none;
    border: none;
    border-radius: 8px;
    padding: 0.5em 0.5em;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    gap: 1rem;

    &--icon {
      color: var(--clr-green);
    }
  }
}
