@import "../../variables.scss";

.cartPage {
  width: 95%;
  height: 100dvh;
  background-color: #fff;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $smallScreen) {
    width: 40%;
  }

  & h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--clr-green);
    margin-bottom: 0rem;
  }

  &__itemsList {
    max-height: calc(100vh - 280px);
    overflow-y: scroll;
    flex-grow: 1;

    & > * {
      margin-top: 0.75em;
    }
  }

  &__footer {
    p {
      color: var(--clr-green);
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
    &-btn {
      display: inline-block;
      text-align: center;
      font-size: 1.2rem;
      width: 100%;
      border: none;
      padding: 0.75em;
      border-radius: 8px;
    }
  }
}
