.categoriesDropdown {
  width: 100%;
  list-style: none;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  position: absolute;
  top: calc(100% + 10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 250ms ease-in-out;
  border-radius: 8px;

  &.active {
    opacity: 1;
  }

  &__item {
    padding: 0.15em;
  }
}
