.navbar {
  background-color: black;
  color: #fff;
  margin: 0 auto;
  padding: 0.5em;
  display: flex;
  max-width: 1200px;
  position: sticky;
  z-index: 9999999;
  top: 0;

  &__buttons {
    margin: 0 auto;
    display: flex;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.3rem;
      padding: 0 0.8em;
    }

    a + a {
      border-right: 1px solid var(--clr-green);
    }
  }

  &__cart {
    display: flex;
    font-size: 1.6rem;

    &-num-box {
      display: none;
    }

    &-text {
      display: none;
    }
  }
}
